/* ---------------------------------------------------------------------------------------------------------------------
                           Chat Message Builder
----------------------------------------------------------------------------------------------------------------------*/

.chat-card .chat-flex-vert{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.chat-card .chat-flex-hor{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
